/* filtre noir */
/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
} */

body {
    /* background-image: url('../background/parcours.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accueil {
    background-image: url('../../background/accueil.jpg');
    height: 100vh;
    background-size: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10%;
    border-bottom: 2px solid white;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover; 

}

.accueil::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.accueil-content {
    max-width: 800px;
    z-index: 1;
}

.accueil-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #ededed;
}

.accueil-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.accueil-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    color: #ededed;
}

.accueil-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content : '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

/*Eventuel logo*/
/* .accueil-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: red;
}

.accueil-sci a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
} */

span {
    color: #53bfea;
}

/* ------------------------------------------------------------------- */