  .situation {
      height: 100vh;
      display: flex;
      align-items: center;
      padding: 0 10%;
      background-image: url('https://images.unsplash.com/photo-1560799376-26f5f5bc97bb?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      background-size: 100%;
      position: relative; 
      background-attachment: fixed; 
      background-repeat: no-repeat; 
      background-size: cover; 
  }

  .situation::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6); 
  }

  .situation-content b {
      color: #00abf0;
  }

  .situation{
      height: 100vh;
  }

.bn1198 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.4rem;
  font-family: "Poppins", sans-serif;
  /* font-weight: 700; */
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #efede3;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 0.2rem;
  margin-top: 10px;
  transition: 2s ease;
}

.bn98 {
  border-color: transparent;
  background-color: transparent;
  border: solid #ffffff;
  padding: 6px;
  margin-left: 1em;
  color: #ffffff;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
  
.bn98:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  background-color: white;
  color: black;
  font-weight: bold;
}


  .situation-content {
      max-width: 1000px;
      z-index: 1;
      margin-top: 10px;
      margin-left: 5vh;
  }

  .situation-content {
    max-width: 1000px;
    z-index: 1;
    margin-top: 10px;
    margin-left: 5vh;
}

  .situation-content h2 {
      padding: 2px;
      font-size: 30px;
  }

  .situation-content h1{
    font-size: 30px;
  }

  .situation-content .b {
      color: #88bcff;
      font-weight: bold;
      font-size: 20px;
  }

  body {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }

  .situation {
      height: 100vh;
      display: flex;
      align-items: center;
      padding: 0 10%;
      position: relative; 
      background-attachment: fixed; 
      background-repeat: no-repeat; 
      background-size: cover; 
  }
  .main {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 10px 0;
}

  .situation::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
  }

  .situation-content b {
      color: #00abf0;
  }

  /* ---------------------------------------------------------------------------- */
  /*card*/
  .card-container {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        align-items: center;
        justify-content: center;
  }

  .main {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 10px 0;
  }

  .card {
      width: calc(25% - 20px); 
      margin: 10px;
      background-color: #efede3;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      width: 300px;
  }

  .card h2 {
    color: black;
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-content {
    padding: 20px;
  }

  .card-title h1 {
    font-size: 20px;
  }

    /* -------------------------------- */
  /* bouton explorer */
  .bouton_pop {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 0.2rem;
    margin-top: 10px;
    transition: 2s ease;
  }

  .bouton_pop {
    border-color: transparent;
    background-color: black;
    color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
    
  .bouton_pop:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    background-color: #262626;
  }

  /* --------------------------------------------- */

  .pdf {
    text-decoration: none;
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-y: auto;
  }

  .popup-content {
    background-color: #333;
    padding: 35px;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 80vh;
    min-height: 70vh;
  }

  .popup-content h2 {
    margin-top: 2em;
    font-size: 25px;
  }

  .popup-content ul li {
    margin-left: 50px;
  }

  .popup-content ul li a{
    text-decoration: underline;
    color: #ededed;
    font-size: 15px;
  }

  .close-bouton {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
  }

  .card-exp {
    color: #000;
    font-weight: bold;
  }

  .lien {
    color: #ededed;
  }

  body.popup-active::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.945); 
    z-index: 0;
}

/* bouton explorer */
.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #efede3;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 0.2rem;
  margin-top: 10px;
  transition: 2s ease;
}

.bn37 {
  border-color: transparent;
  background-color: #fff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
  
.bn37:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
/* ----------------------------------------------------------------------------------------------- */
.langages-filter {
  margin-bottom: 20px;
  margin-top: 2em;
  text-align: center;
}

.langage-btn {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.langage-btn:hover {
  background-color: #c7c2c2;
}

.langage-btn.active {
  background-color: #c2c0c9;
  color: #272525;
}

.github {
  font-size: 4dvb; /* Taille de l'icône */
  color: black; /* Couleur de l'icône */
  /* margin-left: 3em; */
}
