<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" type="image/png" href="../background/favicon.png" />
  <link rel="stylesheet" href="../css/general/responsive.css">
  <link rel="stylesheet" href="../css/general/scrollbar.css">
  <link rel="stylesheet" href="../css/general/general.css">
  <link rel="stylesheet" href="../css/general/navbar.css">
  <link rel="stylesheet" href="../css/general/footer.css">
  <link rel="stylesheet" href="../css/page/accueil.css">
  <title>Portfolio - Accueil</title>
</head>
<body>
  <!-- debut menu -->
  <header class="header">
    <a href="#" class="logo">Portfolio</a>
    <nav class="navbar">
      <a href="accueil.html" class="active">Accueil</a>
      <a href="parcours.html">Parcours scolaire</a>
      <a href="experience.html">Experience Professionnelle</a>
      <a href="situation.html">Situation Professionnelle</a>
      <a href="certification.html">Certification</a>
      <a href="veille.html">Veille technologiques</a>
      <a href="contact.html">Contact</a>
    </nav>
    <img src="../background/menu-btn.png" alt="manu-hamburger" class="menu-hamburger">
  </header>
  <!-- fin menu -->

  <section class="accueil">
    <div class="accueil-content">
      <h1>Jenna BEN HADJ AMOR</h1>
      <h3>I'am
        <span class="auto-type">
        </span>
      </h3>
      <p>Je m'appelle Jenna BEN HADJ AMOR, je suis âgée de 20 ans. Je suis actuellement étudiante à Vénissieux au lycée Jacque BREL, en première année BTS « SIO spécialisé SLAM» service aux organisations spécialité solutions logicielles et applications métiers.</p>
      <div class="btn-box">
        <a href="#">Parcours</a>
        <a href="#">Mail</a>
      </div>
    </div>
  </section>
  <footer>
    <p>© Jenna BEN HADJ AMOR 2023</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="../js/auto-typing.js"></script>
  <script src="../js/responsive.js"></script>
  <script src="../js/navbar.js"></script>
</body>
</html>