<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../background/favicon.png" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="../css/general/responsive.css">
  <link rel="stylesheet" href="../css/general/scrollbar.css">
  <link rel="stylesheet" href="../css/general/general.css">
  <link rel="stylesheet" href="../css/general/footer.css">
  <link rel="stylesheet" href="../css/general/navbar.css">
  <link rel="stylesheet" href="../css/general/up_arrow.css">
  <link rel="stylesheet" href="../css/general/bouton.css">
  <link rel="stylesheet" href="../css/page/certification.css">
  <title>Portfolio - Certification</title>
</head>
<div>
  <!-- debut bouton remonter page -->
  <div class="btn">
    <img src="../background/bx-up-arrow-alt.svg" class="icone">
  </div>
  <!-- fin bouton remonter page -->
 	<!-- début menu -->
<header class="header">
  <a href="accueil.html" class="logo">Portfolio</a>
  <nav class="navbar">
      <a href="parcours.html" id="parcours">Parcours scolaire</a>
      <a href="experience.html" id="experience">Experiences Professionnelles</a>
      <a href="situation.html" id="situation">Situations Professionnelles</a>
      <a href="certification.html" id="certification" class="active">Certification</a>
      <a href="veille.html" id="veille">Veille technologique</a>
      <a href="contact.html" id="contact">Contact</a>
  </nav>
  <img src="../background/menu-btn.png" alt="menu-hamburger" class="menu-hamburger">
</header>
<!-- fin menu -->
  <section class="certification">
    <div class="certification-content">
      <h1 class="title">Mes Certifications</h1>
      <p class="b">Mes divers compétences via des certifications</p>
      <a href="#main" class="bn3637 bn37">Explorer</a>
    </div>
  </section>
</div>
<!-- ---------------------------------------------------------------------- -->
<!-- début card -->
<div class="main" id="main">
<div class="card-container" id="main">
  <figure class="snip1418">
      <figcaption>
        <div class="card-content">
        <h3>Cybersecurity Essentials</h3>
        <p>Cisco Networking Academy</p>
        <a href="../PDF/Cybersecurity-Essentials.pdf" target="_blank">
        <i class="bx bx-link-external"></i>
      </a>
        <br>
      </div>
      </figcaption>
      </figure>
      <figure class="snip1418 hover">
        <figcaption>
          <div class="card-content">
          <h3>Networking Essentials</h3>
          <p>Cisco Networking Academy</p>
          <a href="../PDF/Networking-Essentials.pdf" target="_blank" rel="noopener noreferrer">
            <i class="bx bx-link-external"></i>
          </a>          <!-- <p>Givors 69700</p> -->
          <br>
        </div>

        </figcaption>
        </figure>
        <figure class="snip1418 hover">
          <figcaption>
            <div class="card-content">
              <h3>SecNum - MOOC</h3>
              <p>SecNum Academy<p>
                <a href="../PDF/secnum.pdf" target="_blank" rel="noopener noreferrer">
                  <i class="bx bx-link-external"></i>
                </a>
            <br>
          </div>

          </figcaption>
          </figure>
          </div>
          <div class="card-container" id="main">
          <figure class="snip1418">
            <figcaption>
              <div class="card-content">
                <h3>HTML-5 / CSS-3</h3>
                <p>Openclasseroom</p>
              <br>
            </div>
            </figcaption>
            </figure>
            <figure class="snip1418 hover">
              <figcaption>
                <div class="card-content">
                  <h3>AWS Academy Cloud Foundations</h3>
                  <p>Amazon Web Service</p>
                <br>
              </div>
                </figure>
                </div>
  <!-- fin card -->


<!-- --------------------------------------------------------------------------- -->
<div class="bar-sp"></div>
<footer>
  <p>© Jenna BEN HADJ AMOR 2023</p>
</footer>
<script src="../js/up_arrow.js  "></script>
<script src="../js/responsive.js"></script>
<script src="../js/navbar.js"></script>
</body>

</html>