<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general/responsive.css">
    <link rel="stylesheet" href="../css/general/scrollbar.css">
    <link rel="stylesheet" href="../css/general/general.css">
    <link rel="stylesheet" href="../css/general/footer.css">
    <link rel="stylesheet" href="../css/general/navbar.css">
    <link rel="stylesheet" href="../css/experience.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>

        <nav class="navbar">
            <a href="accueil.html" class="active">Accueil</a>
            <a href="parcours.html">Parcours scolaire</a>
            <a href="experience.html">Experience Professionnelle</a>
            <a href="#">Situation Professionnelle</a>
            <a href="#">Certification</a>
            <a href="#">Veille technologiques</a>
            <a href="#">Contact</a>
        </nav>
        <img src="background/menu-btn.png" alt="manu-hamburger" class="menu-hamburger">

    </header>

    <section class="experience">
        <div class="experience-content">
            <h1 class="title">Mes expérience Professionnelle</h1>
            <!-- <p class="b">Les moments clés de ma carrière, des débuts prometteurs aux succès face à des défis professionnels.</p> -->
            <p class="b">Mes expériences dans le monde du travail</p>
        </div>
        </section>


        
    <footer>
        <p>© Jenna BEN HADJ AMOR 2023</p>
    </footer>

</body>
</html>