<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" type="image/png" href="../background/favicon.png" />
    <link rel="stylesheet" href="../css/general/responsive.css">
    <link rel="stylesheet" href="../css/general/scrollbar.css">
    <link rel="stylesheet" href="../css/general/general.css">
    <link rel="stylesheet" href="../css/general/navbar.css">
    <link rel="stylesheet" href="../css/general/up_arrow.css">
    <link rel="stylesheet" href="../css/general/footer.css">
    <link rel="stylesheet" href="../css/general/timeline.css">
    <link rel="stylesheet" href="../css/page/parcours.css">
    <title>Portfolio - Parcours</title>
</head>
<!-- debut menu -->
<header class="header">
    <a href="#" class="logo">Portfolio</a>
    <nav class="navbar">
        <a href="accueil.html" class="active">Accueil</a>
        <a href="parcours.html">Parcours scolaire</a>
        <a href="experience.html">Experience Professionnelle</a>
        <a href="situation.html">Situation Professionnelle</a>
        <a href="#">Certification</a>
        <a href="#">Veille technologiques</a>
        <a href="#">Contact</a>
    </nav>
    <img src="background/menu-btn.png" alt="manu-hamburger" class="menu-hamburger">
</header>
<!-- fin menu -->
<body>
    <!-- debut bouton remonter page -->
    <div class="btn">
        <img src="../background/bx-up-arrow-alt.svg" class="icone">
    </div>
    <!-- fin bouton remonter page -->
    <section class="parcours-pro">
        <div class="parcours-pro-content">
            <h1>Mon parcours scolaire</h1>
            <p><b>Mes formations et mon parcours académiques</b></p>
        </div>
    </section>
        </div>
        <div class="main">
            <h3 class="head">Mon parcours</h3>
            <div class="container">
                <ul>
                    <li>
                        <h3 class="heading">BTS SIO</h3>
                        <p>Lycée Jacque Brel<p>
                        <p>BTS SIO (Service Informatiques aux Organisations)</p>
                        <p>Option SLAM</p>
                        <p>Venissieux 69259</p>
                        <span class="date">2022 - 2024</span>
                        <span class="circle"></span>
                    </li>
                    <li>
                        <h3 class="heading">FCIL</h3>
                        <p>Lycée Aragon Picasso</p>
                        <p>Système numérique</p>
                        <p>Certification</p>
                        <P>Givors 69700</P>
                        <span class="date">2021 - 2022</span>
                        <span class="circle"></span>
                    </li>
                    <li>
                        <h3 class="heading">BAC ASSP</h3>
                        <p>Lycée Danielle Casanova</p>
                        <p>BAC ASSP (Accompagnement Soins et Service à la Personne)</p>
                        <p>Option en structure</p>
                        <p>Givors 69700</p>
                        <span class="date">2017 - 2021</span>
                        <span class="circle"></span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- </section> -->
    <footer>
        © Jenna BEN HADJ AMOR
    </footer>
    <script src="../js/responsive.js"></script>
    <script src="../js/up_arrow.js"></script>
    <script src="../js/navbar.js"></script>
</body>
</html>
