<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" type="image/png" href="../background/favicon.png" />
    <link rel="stylesheet" href="../css/general/responsive.css">
    <link rel="stylesheet" href="../css/general/scrollbar.css">
    <link rel="stylesheet" href="../css/general/general.css">
    <link rel="stylesheet" href="../css/general/navbar.css">
    <link rel="stylesheet" href="../css/general/up_arrow.css">
    <link rel="stylesheet" href="../css/general/footer.css">
    <link rel="stylesheet" href="../css/page/pop_op.css">
    <link rel="stylesheet" href="../css/general/timeline.css">
    <link rel="stylesheet" href="../css/page/situation.css">
    <link rel="stylesheet" href="../css/page/card_situation.css">
    <title>Portfolio - Situation Professionnelle</title>
</head>
<body>
     <!-- debut bouton remonter page -->
     <div class="btn">
        <img src="../background/bx-up-arrow-alt.svg" class="icone">
    </div>
    <!-- fin bouton remonter page -->
    <!-- début menu -->
    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <nav class="navbar">
            <a href="accueil.html" class="active">Accueil</a>
            <a href="parcours.html">Parcours scolaire</a>
            <a href="experience.html">Experience Professionnelle</a>
            <a href="situation.html">Situation Professionnelle</a>
            <a href="#">Certification</a>
            <a href="#">Veille technologiques</a>
            <a href="#">Contact</a>
        </nav>
        <img src="../background/menu-btn" alt="manu-hamburger" class="menu-hamburger">
    </header>
    <!-- fin menu -->
    <section class="situation">
        <div class="situation-content">
            <h1 class="title">Mes Situations Professionnelle</h1>
            <p class="b">Mes projets réaliser durants ma formation</p>
        </div>
    </section>
    <div class="card-container">
        <figure class="snip1418"><img src="../background/sharepoint.jpg" alt="btssio"/>
            <figcaption>
              <h3>SharePoint</h3>
              <p>Eaboration d’un site intranet entreprise SharePoint</p>
              <p>Brignais 69530</p>
                <br>

            <div class="box">
              <a class="button" href="#popup1">Voir plus</a>
          </div>
          
          <div id="popup1" class="overlay">
              <div class="popup">
                  <h2>Lorem is up</h2>
                  <a class="close" href="#box">&times;</a>
                  <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus voluptatum maiores quisquam quia et totam, vitae quod similique ducimus officia quaerat explicabo laboriosam velit quibusdam minima quae asperiores ad deserunt.
                  </div>
              </div>
          </div>


        </figcaption>

          </figure>

          <figure class="snip1418 hover"><img src="../background/FCIL.jpg" alt="sample96"/>
            <figcaption>
              <h3>FCIL</h3>
              <p>Lycée Aragon Picasso - Maintenance Informatiques</p>
              <p>Givors 69700</p>
              <div class="price">
                Janvier 2021 - avril 2021
              </div>
            </figcaption><a href="#"></a>
          </figure>


          <figure class="snip1418 hover"><img src="../background/creche.jpg" alt="sample96"/>
            <figcaption>
              <h3>BAC ASSP - Terminal</h3>
              <p>Crèche Pôle enfance Marie Antoinette Goubelly<p>
              <p>Givors 69700</p>
              <div class="price">
                Janvier 2021 - avril 2021
              </div>
            </figcaption><a href="#"></a>
          </figure>


          <figure class="snip1418"><img src="../background/ehpad.jpg" alt="sample92"/>
            <figcaption>
              <h3>BAC ASSP - Terminal</h3>
              <p>EHPAD Sainte Anne - ASH</p>
              <p>Brignais 69530</p>
              <div class="price">
                Novembre 2020 - Décembre 2020
              </div>
            </figcaption><a href="#"></a>
          </figure>   
        </div>


        <div class="card-container">
        
          <figure class="snip1418 hover"><img src="../background/covid_1.jpg" alt="sample96"/>
            <figcaption>
              <h3>BAC ASSP Première</h3>
              <p>Pas de stage, COVID19</p>
              <div class="price">
              </div>
            </figcaption><a href="#"></a>
          </figure>


          <figure class="snip1418 hover"><img src="../background/covid.jpg" alt="sample96"/>
            <figcaption>
              <h3>BAC ASSP Première</h3>
              <p>Pas de stage, COVID19</p>
              <div class="price">
              </div>
            </figcaption><a href="#"></a>
          </figure>


          <figure class="snip1418 hover"><img src="../background/sante.jpg" alt="sample96"/>
            <figcaption>
              <h3>BAC ASSP Seconde</h3>
              <p>Centre Hospitalier Montgelas - ASH</p>
              <p>Givors 69700</p>
              <div class="price">
                Janvier 2019 - avril 2019
              </div>
            </figcaption><a href="#"></a>
          </figure>


          <figure class="snip1418 hover"><img src="../background/ecolematernelle.jpg" alt="sample96"/>
            <figcaption>
              <h3>BAC ASSP Seconde</h3>
              <p>Ecole Maternelle Paul Gauguin</p>
              <p>Grigny 69520</p>
              <div class="price">
                Avril 2018 - Mai 2018
              </div>
            </figcaption><a href="#"></a>
          </figure>
        </div>
        </div>

    <footer>
        <p>© Jenna BEN HADJ AMOR 2023</p>
    </footer>
    <script src="../js/up_arrow.js  "></script>
    <script src="../js/responsive.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/pop_up.js"></script>
</body>
</html>