<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="icon" type="image/png" href="../background/favicon.png" />
  <link rel="stylesheet" href="../css/general/responsive.css">
  <link rel="stylesheet" href="../css/general/scrollbar.css">
  <link rel="stylesheet" href="../css/general/general.css">
  <link rel="stylesheet" href="../css/general/navbar.css">
  <link rel="stylesheet" href="../css/general/up_arrow.css">
  <link rel="stylesheet" href="../css/general/footer.css">
  <link rel="stylesheet" href="../css/page/pop_op.css">
  <link rel="stylesheet" href="../css/general/timeline.css">
  <link rel="stylesheet" href="../css/page/veille.css">
  <title>Portfolio - Veille technolofique</title>
</head>

<body>
  <!-- debut bouton remonter page -->
  <div class="btn">
        <img src="../background/bx-up-arrow-alt.svg" class="icone">
    </div> 
  <!-- fin bouton remonter page
  <!-- début menu -->
  <header class="header">
    <a href="#" class="logo">Portfolio</a>
    <nav class="navbar">
      <a href="accueil.html">Accueil</a>
      <a href="parcours.html">Parcours scolaire</a>
      <a href="experience.html">Experience Professionnelle</a>
      <a href="situation.html">Situation Professionnelle</a>
      <a href="certification.html">Certification</a>
      <a href="veille.html">Veille technologiques</a>
      <a href="contact.html">Contact</a>
    </nav>
    <img src="../background/menu-btn.png" alt="menu-hamburger" class="menu-hamburger">
  </header>
  <!-- fin menu -->
  <section class="veille">
    <div class="veille-content">
      <h1 class="title">Ma veille technologique</h1>
      <p class="b">Techniques de Phishing Émergentes</p>
    </div>
  </section>
  <!-- début card -->
<div class="card-container">
    <figure class="snip1418"><img src="../background/veille1.jpg" alt="btssio"/>
        <figcaption>
            <a href="https://www.blogdumoderateur.com/arnaque-email-techniques-phishing-frequentes/" target="_blank" rel="noopener noreferrer">
                <i class="bx bx-link-external"></i>
              </a>
              <div class="price">
                Octobre 2023
              </div>
          <h3>Arnaque par email : les 7 techniques de phishing les plus fréquentes</h3>
          <p>
            L'article avertit sur sept stratégies de phishing courantes : fausses commandes, impostures fiscales, faux colis...</p>
        </figcaption>
      </figure>


      <figure class="snip1418 hover"><img src="../background/veille3.jpg" alt="sample96"/>
        <figcaption>
            <a href="https://incyber.org/comment-hameconneurs-exploitent-ils-osint/" target="_blank" rel="noopener noreferrer">
                <i class="bx bx-link-external"></i>
              </a>
              <div class="price">
                Novembre 2023
              </div>
          <h3>Comment les hameçonneurs exploitent-ils l’OSINT ?</h3>
          <p>L'OSINT collecte des données publiques, utilisé en sécurité, journalisme, etc...<p>
        </figcaption>
      </figure>


      <figure class="snip1418 hover"><img src="../background/veille4.jpg" alt="sample96"/>
        <figcaption>
            <a href="https://www.cnil.fr/fr/diffusion-de-donnees-piratees-la-suite-dune-cyberattaque-quels-sont-les-risques-et-les-precautions" target="_blank" rel="noopener noreferrer">
                <i class="bx bx-link-external"></i>
              </a>
              <div class="price">
                Décembre 2023
              </div>
              <h3>Risques et précautions avec diffusion de données piratées</h3>
            <p>L'ingénierie sociale, tactique de cyberattaque exploitant la confiance humaine, inclut le phishing, le social phishing, le pharming...</p>    
        </figcaption>
      </figure>
    </div>
    <div class="card-container">
    <!-- fin card -->
  <footer>
    <p>© Jenna BEN HADJ AMOR 2023</p>
  </footer>
  <script src="../js/up_arrow.js  "></script>
  <script src="../js/responsive.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/pop_up.js"></script>
</body>

</html>