<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="icon" type="image/png" href="../background/favicon.png" />
  <link rel="stylesheet" href="../css/general/responsive.css">
  <link rel="stylesheet" href="../css/general/scrollbar.css">
  <link rel="stylesheet" href="../css/general/general.css">
  <link rel="stylesheet" href="../css/general/bouton.css">
  <link rel="stylesheet" href="../css/general/navbar.css">
  <link rel="stylesheet" href="../css/general/up_arrow.css">
  <link rel="stylesheet" href="../css/general/footer.css">
  <link rel="stylesheet" href="../css/page/pop_op.css">
  <link rel="stylesheet" href="../css/general/timeline.css">
  <link rel="stylesheet" href="../css/page/veille.css">
  <title>Portfolio - Veille technolofique</title>
</head>

<body>
  <!-- debut bouton remonter page -->
  <div class="btn">
        <img src="../background/bx-up-arrow-alt.svg" class="icone">
    </div> 
  <!-- fin bouton remonter page -->

  	<!-- début menu -->
<header class="header">
  <a href="accueil.html" class="logo">Portfolio</a>
  <nav class="navbar">
      <a href="parcours.html" id="parcours">Parcours scolaire</a>
      <a href="experience.html" id="experience">Experiences Professionnelles</a>
      <a href="situation.html" id="situation">Situations Professionnelles</a>
      <a href="certification.html" id="certification">Certification</a>
      <a href="veille.html" id="veille" class="active">Veille technologique</a>
      <a href="contact.html" id="contact">Contact</a>
  </nav>
  <img src="../background/menu-btn.png" alt="menu-hamburger" class="menu-hamburger">
</header>
<!-- fin menu -->
  
  <section class="veille">
    <div class="veille-content">
      <h1 class="title">Les techniques de phishing émergentes</h1>
      <p class="b">Sont-elles de moins en moins détectables et plus dangereuses ?</p>
      <a href="#main" class="bn3637 bn37">Explorer</a>
    </div>
  </section>
  
  <!-- début card -->
  <div class="main" id="main">
    <div class="card-container">
    <figure class="snip1418"><img src="../background/veille1.jpg" alt="btssio"/>
        <figcaption>
            <a href="https://www.blogdumoderateur.com/arnaque-email-techniques-phishing-frequentes/" target="_blank" rel="noopener noreferrer">
                <i class="bx bx-link-external"></i>
              </a>
              <div class="price">
                Octobre 2023 - Étienne Caillebotte
              </div>
          <h3>Arnaque par email : les 7 techniques de phishing les plus fréquentes</h3>
          <p>
            L'article avertit sur sept stratégies de phishing courantes : fausses commandes, impostures fiscales, faux colis...</p>
            <br>
            <p class="site">Site : blogdumoderateur</p>
        </figcaption>
      </figure>


      <figure class="snip1418 hover"><img src="../background/veille3.jpg" alt="sample96"/>
        <figcaption>
            <a href="https://incyber.org/comment-hameconneurs-exploitent-ils-osint/" target="_blank" rel="noopener noreferrer">
                <i class="bx bx-link-external"></i>
              </a>
              <div class="price">
                Novembre 2023 - Zachary Amos
              </div>
          <h3>Comment les hameçonneurs exploitent-ils l’OSINT ?</h3>
          <p>L'OSINT collecte des données publiques, utilisé en sécurité, journalisme, etc...<p>
            <br>
            <p class="site">Site : incyber</p>
        </figcaption>
      </figure>


      <figure class="snip1418 hover"><img src="../background/veille4.jpg" alt="sample96"/>
        <figcaption>
            <a href="https://www.cnil.fr/fr/diffusion-de-donnees-piratees-la-suite-dune-cyberattaque-quels-sont-les-risques-et-les-precautions" target="_blank" rel="noopener noreferrer">
                <i class="bx bx-link-external"></i>
              </a>
              <div class="price">
                Décembre 2023 - CNIL
              </div>
              <h3>Risques et précautions avec diffusion de données piratées</h3>
            <p>L'ingénierie sociale, tactique de cyberattaque exploitant la confiance humaine, inclut le phishing, le social phishing, le pharming...</p>    
            <br>
            <p class="site">Site : CNIL</p>
          </figcaption>
      </figure>
      </div>
      <div class="card-container">
      <figure class="snip1418 hover"><img src="https://www.usine-digitale.fr/mediatheque/9/9/4/000910499_896x598_c.jpg" alt="sample96"/>
        <figcaption>
            <a href="https://www.usine-digitale.fr/article/phishing-vol-de-donnees-dans-le-cloud-les-cyberattaques-visent-en-premier-lieu-l-industrie-manufacturiere.N2207118" target="_blank" rel="noopener noreferrer">
                <i class="bx bx-link-external"></i>
              </a>
              <div class="price">
                Janvier 2024 - Yoann Bourgin
              </div>
              <h3>Dans le cloud, l'industrie manufacturière subit des cyberattaques majeures.</h3>
            <p>L'étude révèle que l'industrie manufacturière fait face à des cyberattaques fréquentes dans le cloud, soulignant ainsi l'urgence d'améliorer les mesures de sécurité et la formation en informatique pour contrer ces menaces.</p>
            <br>
            <p class="site">Site : usine-digitale</p>    
        </figcaption>
      </figure>


      <figure class="snip1418 hover"><img src="../background/fevrier.jpeg" alt="sample96"/>
        <figcaption>
            <a href="https://www.radins.com/service/telephone-internet/actualites/usurpation-identite-entreprise-piratage-phishing/53285" target="_blank" rel="noopener noreferrer">
                <i class="bx bx-link-external"></i>
              </a>
              <div class="price">
                Fevrier 2024 - Paolo Garoscio
              </div>
              <h3>Quelles entreprises sont les préférées des pirates pour arnaquer ?</h3>
            <p>La montée du phishing, accentuée par l'IA, menace les entreprises. En 2023, Facebook et Microsoft subissent des attaques massives. Entreprises françaises, dont Crédit Agricole et Orange, fortement ciblées.</p>    
            <br>
            <p class="site">Site : radins</p>    
          </figcaption>
      </figure>

      <figure class="snip1418 hover"><img src="https://www.pleinevie.fr/wp-content/uploads/pleinevie/2024/03/impots-2024-faites-attention-a-ces-arnaques-a-eviter-avant-la-date-limite-de-declaration-750x410.jpg" alt="sample96"/>
        <figcaption>
            <a href="https://www.pleinevie.fr/conso-argent/impots-2024-faites-attention-a-ces-arnaques-a-eviter-avant-la-date-limite-de-declaration-111793.html" target="_blank" rel="noopener noreferrer">
                <i class="bx bx-link-external"></i>
              </a>
              <div class="price">
                Mars 2024 - La rédaction
              </div>
              <h3>Attention aux arnaques fiscales avant la date limite de déclaration 2024</h3>
            <p>La période de déclaration fiscale suscite des arnaques. Escroqueries aux ordres de virement, numéros surtaxés et phishing en hausse. Vigilance requise pour éviter les pièges.</p>    
            <br>
            <p class="site">Site : pleinevie</p>    
          </figcaption>
      </figure>
    </div>
</div>

<div class="reponse">
  <h1>Réponse à la problématique</h1>
  <p>Les techniques de phishing émergentes deviennent souvent plus sophistiquées, rendant leur détection plus difficile et potentiellement plus dangereuses. Les attaquants exploitent des méthodes personnalisées et des techniques d'ingénierie sociale avancées pour tromper les utilisateurs et accéder à leurs informations sensibles. Bien que les avancées dans les technologies de sécurité aident à contrer ces menaces, la vigilance des utilisateurs reste essentielle pour prévenir les attaques de phishing.</p>
</div>


    <!-- fin card -->
    <div class="bar-sp"></div>
  <footer>
    <p>© Jenna BEN HADJ AMOR 2023</p>
  </footer>
  <script src="../js/up_arrow.js  "></script>
  <script src="../js/responsive.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/pop_up.js"></script>
</body>

</html>