/* Scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(49,51,56,255); /* Couleur de fond de la scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(189, 191, 199); /* Couleur du curseur de la scrollbar */
    border-radius: 3px; /*Coins arrondis du curseur*/
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Couleur du curseur au survol */
  }